<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Catalog</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products.css}"/>
</head>
<body>
<div class="container">
    <h1>Welcome to Our Product Catalog</h1>
    <div class="product-list">
        <div class="product" th:each="product : ${products}">
            <h2 th:text="${product.getName()}"></h2>
            <p th:text="'Price: $'+ ${product.getPrice()}"></p>
            <p th:text="${product.getDescription()}"></p>
            <a th:href="@{'/product/' + ${product.getId()}}" class="btn">View Details</a>
        </div>
    </div>
</div>
</body>
</html>
